# CAS 登录配置
CAS_ORIGIN=https://cas.shmtu.edu.cn
CAS_CAPTCHA_URL=https://cas.shmtu.edu.cn/cas/captcha
CAS_LOGIN_URL=https://cas.shmtu.edu.cn/cas/login?service=https%3A%2F%2Fwf.shmtu.edu.cn%2Fsso%2Flogin%3Fredirect_uri%3Dhttps%253A%252F%252Fwf.shmtu.edu.cn%252Fsso%252Foauth2%252Fauthorize%253Fclient_id%253DkwxKbMKq3Nafw2mApFZz%2526redirect_uri%253Dhttps%25253A%25252F%25252Fwf.shmtu.edu.cn%25252Fyy-sys%25252Foidc-callback%25253FretUrl%25253Dhttps%25253A%25252F%25252Fwf.shmtu.edu.cn%25252Fyy-sys%25252Fpc%25252Fhome%2526response_type%253Did_token%252520token%2526scope%253Ddata%252520openid%252520process%252520task%252520app%252520submit%252520process_edit%252520start%252520profile%2526state%253D0bfb3977af75474bb82d611a7e4dde78%2526nonce%253Da9c8b134679249aaad587fc2200198a7%26x_client%3Dcas

# 微服务平台配置
WF_ORIGIN=https://wf.shmtu.edu.cn
WF_API_URL=https://wf.shmtu.edu.cn/bus/graphql/apps_yy_sys

# OAuth 配置
OAUTH_CLIENT_ID=kwxKbMKq3Nafw2mApFZz

# 羽毛球场地资源类型ID
BADMINTON_TYPE_ID=93c2a115-5c73-4e30-bb6a-dfcc5404e46f
